# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/config/
run/config/*
!run/config/buildcraft-common.toml
!run/config/buildcraft/
runs
run-data
.codex

WICHTIG für start
plan/
infos

repo
.aider*
