# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
CLAUDE.md
.venv-aider
.aider.chat.history.md
.aider.input.history
AGENTS.md
GEMINI.md
qwen-agent.sh
WICHTIG für start
plan
repo